<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bms-ui-bundle"
    version="0.1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BioModStackUiBundle</name>
    <js-module src="www/bmsUiBundle.js" name="BmsUiBundle">
        <clobbers target="cordova.plugins.bmsUiBundle" />
    </js-module>
    <platform name="android">
        <framework src="androidx.webkit:webkit:1.10.0" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BmsUiBundle">
                <param name="android-package" value="org.biomodstack.mobile.updates.BmsUiBundlePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/BmsUiBundlePlugin.java" target-dir="app/src/main/java/org/biomodstack/mobile/updates" />
    </platform>
</plugin>
