[Unit]
Description=BioModStack bounded Mk1D reconnect request socket
Documentation=file:__BMS_REPO_ROOT__/config/mk1d-reconnect/README.md

[Socket]
ListenStream=/run/biomodstack/mk1d-reconnect.sock
SocketMode=0660
SocketUser=root
SocketGroup=__BMS_RECOVERY_GROUP__
Accept=yes
Service=bms-reconnect-mk1d@.service

[Install]
WantedBy=sockets.target
